.workshop-card {
	border-radius: 30px;
	margin: 5px;
  position: relative;
  padding: 20px 50px;
  width: 400px;
  height: 450px;
  text-decoration: none;
  color: #fff;
  font-size: 2em;
  text-transform: uppercase;
  font-family: sans-serif;
  letter-spacing: 4px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 5px rgba(0, 0, 0.2);
}

.workshop-card:hover {
  transform: translateY(-2%);
}

.workshop-card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
}

.workshop-card:after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.5s;
  transition-delay: 0.5s;
}

.workshop-card:hover:after {
  left: 100%;
}

.workshop-imgcard {
  width: 300px;
  height: 300px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 10px solid rbga(0 0 0 0 0.25);
  object-fit: cover;
  border-radius: 15px;
}

.workshop-title {
	text-align:center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
}

.workshop-buttons {
  margin-bottom: 0;
  padding-top: 0;
  display: flex;
  flex-direction: row;
  padding-bottom: 0;
  color: rgba(61, 232, 230, 1);
  bottom: 0;
  /* height: 49px; */
  /* width: 50%; */
  /* background-color: aqua; */
  justify-content: space-between;
  align-items: center;
}

.workshop-buttonr {
  /* margin-bottom: 0; */
  padding-left: 20px;
  padding-top: 8px;
  height: 30px;
  font-size: 10px;
  /* width: 50%; */
}

.workshop-buttone {
  display:flex;
  background-color: rgba(61, 232, 230, 0.15);
  height: 30px;
  width: 50%;
  font-size: 10px;
  margin-right: 0;
  border-right: 3px solid rgba(61, 232, 230, 1);
  border-bottom: 3px solid rgba(61, 232, 230, 1);
  /* background-color:aquamarine; */
}

.workshop-buttone a {
	margin:auto;
}

.workshop-cardlink {
  color: rgba(61, 232, 230, 1);
  text-decoration: none;
}

@keyframes lights {
  0% {
    color: hsl(230, 40%, 80%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }

  30% {
    color: hsl(230, 80%, 90%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  40% {
    color: hsl(230, 100%, 95%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }

  70% {
    color: hsl(230, 80%, 90%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  100% {
    color: hsl(230, 40%, 80%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
}

.workhead {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 3.5rem;
  animation: lights 5s 750ms linear infinite;
  /* color: rgba(61, 232, 230, 1); */
}

/* 
.workshop-cards {
  display: grid;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: fit-content;
  /* margin-bottom: 15px; *//*
}
 */

.workshop-cards {
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	width: 100%;
	max-width: 1500px;
	margin:auto;
}


/* 
@media only screen and (max-width: 1100px) and (min-width: 600px) {
  .workshop-cards {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
  }
}

@media only screen and (max-width: 3000px) and (min-width: 1100px) {
  .workshop-cards {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) and (min-width: 440px) {
  .workshop-cards {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
  }
}

@media only screen and (max-width: 440px) and (min-width: 10px) {
  .workshop-cards {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
  }
}
 */

.workshop-cardlink {
  padding: 0 0;
  font-size: 10px;
}

#button1 {
  padding-top: 0px;
  padding-left: 0px;
  font-size: 1.1em;
  color: rgba(61, 232, 230, 1);
  text-decoration: none;
}

#button2 {
  font-size: 1.1em;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 12px;
  padding-right: 23px;
  color: rgba(61, 232, 230, 1);
  text-decoration: none;
}
