body {
    background: #000;
    color:#fff;
  }
  
.topgrid {
padding-top: 1vmin;
padding-left: 3vmin;
}

.main {
margin-top: 5%;
}

.socialLogos img {
padding: 2vmin;
}

.main-text {
color: white;
grid-column: 1 / 4;
grid-row: 1;
height:80%;
display:flex;
justify-content:space-evenly;
align-items:center;
}

.main-text > * {
	overflow:auto;
	width:50%;
	height:100%;
}

.main-text > div > * {
	margin:auto;
}

.main-container {
display: flex;
flex-direction:column;
justify-content:space-between;
align-items: center;
width:90%;
height: 80vh;
margin-left: 20px;
overflow:auto;
}

.bottom-grid {
float: left;
padding-bottom: 10px;
padding-top: 10px;
text-align: center;
bottom: 0px;
width: 100%;
}

.navigator {
	width:100%;
	height:10%;
	overflow-x:auto;
	overflow-y:hidden;
	grid-column: 1 / 4;
	grid-row: 2;
	color:#fff;
}

.scroll-less {
	scrollbar-width:none;
	-ms-overflow-style:none;
}

.scroll-less::-webkit-scrollbar {
	display:none
}