*{
    margin: 0;
    padding: 0;
}


.wrapper{
    background-color: black;
    margin: 0px;
    display: grid;
    grid-template-columns: 40px auto 40px;
    grid-template-rows: 60px auto 40px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.first{
    width: 40px;
    height: 25px;
    border: 2px solid red;
}
.first img{
    width: 40px;
    height: 40px;
}
.topGrid{
    height: 61px;
}
.leftGrid{
    width:91px;
}
.rightGrid{
    width: 87px;
}
.corners{
    display: flex;
    align-items: center;
    justify-content: center;
}

.horlist, .horlist1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    list-style: none;
    font-size: x-large;
}

.horlist li a{
    color: white;
    text-decoration: none;
}
.horlist1{
    margin-top: 12px;
}

.horlist1 li a{
    color: white;
    text-decoration: none;
    /* border: 2px solid red; */
}

.horlist1 li a:visited{
    padding: 4px;
    border: none;
    background-color: gray;
}

.mobilesocial{
    margin-top: 25px;
    margin-left: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    list-style: none;
    color: aliceblue;
    justify-content: space-evenly;
}

.mobilesocial li{
    margin-left: 5px;
    margin-right: 5px;
}

.hamburger{
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
    cursor: pointer;

    appearance: none;
    background: none;
    border: none;
    outline: none;
}

.hamburger .bar,.hamburger::before,.hamburger::after{
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: #fff;
    margin: 6px 0px;
    transition:0.4s;
}
.active{
    position: absolute;
    top: 0;
}

.mobile{
    display: flex;
    color: white;
    flex-direction: column;
    width: 100vw;
    position: absolute;
    top: 00%;
    align-items: center;
    background-color: grey;
    opacity: 100%;
    transition: all 1s;
    top: 0;
    z-index: 2;
}
.mobile a{
    text-decoration: none;
    color: white;
    margin: 5px 0;
}

/* @media only screen and (max-width: 436px) {
    .horlist{
        display: none;
    }
    .horlist1{
        display: none;
    }
    .social{
        display: none;
    }
    #menu{
        margin-right: 0;
        margin-left: 55%;
    }
    .type{
        display: none;
    }
} */
