*{
    margin: 0;
    padding: 0;
}

.contactImage{
    width: 400px;
    height: 300px;
}

.contact-background {
	position:fixed;
	top:0;
	left:0;
	min-width:100vw;
	min-height:100vh;
	/* background-image: url("./images/contact\ us.png"); */
	z-index:-999;
}

.contactBody{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    overflow: auto;
    
}
.contactBody::-webkit-scrollbar {
    display: none;
  }

/* 
.contact-container{
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 40px 0;
    grid-template-areas: 
        'header header header'
        'main main main';
}
 */

.contact-container {
	width:90%;
}

.contact-container > * {
	text-align:center;
	margin:0;
}

.contact-container .contact-name-cards {
	display:flex;
	justify-content:center;
	align-items:flex-start;
	flex-wrap:wrap;
    text-decoration-color: #fff;
}

/* 
.contact-container .contactHeader{
    grid-area: header;
    text-align: center;
}
 */

.contact-container .contact-card{
    position: relative;
    width: 300px;
    height: 400px;
    background: rgba(255, 255, 255, 0.05);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0 0 0 0,2);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    transition: background 0.3s linear;
}

.contact-container .contact-card:hover {
	background: rgba(255, 255, 255, 0.3);
}

.contact-container .contact-card .contact-card-content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    transition: 0.5s;
    width: 300px;
    height: 400px;
}

.contact-container .contact-card:hover .contact-card-content{
    opacity: 1;
}

.contact-container .contact-card .contact-card-content .contact-imgBx{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rbga(0 0 0 0 0.25);
}

.contact-container .contact-card .contact-card-content .contact-imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-container .contact-card .contact-card-content .contact-contentBx h3{
    color: #fff;
    letter-spacing: 2px;
    text-align: center;
    margin: 20px 0 25px;
    opacity: 1;
}

.contact-container .contact-card .contact-card-content .contact-contentBx h3 span{
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
}

.contact-container .contact-card .contact-sci{
    position: absolute;
    bottom: 50px;
    display: flex;
    left: 30px;
}

.contact-container .contact-card .contact-sci li{
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: 0.1s
}

.contact-container .contact-card:hover .contact-sci li{
    transform: translateY(30px);
    opacity: 1;
}

.contact-container .contact-card .contact-sci li a{
    color: #fff;
    font-size: 24px;
}

.contact-heading{
    text-align: center;
    margin-bottom: 5%;
    font-size: 3rem;
}

@keyframes lights {
    0% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
    30% { 
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    40% { 
      color: hsl(230, 100%, 95%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }
    
    70% {
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    100% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
  }

  h1{
    animation: lights 5s 750ms linear infinite;
  }