.mainhead{
    text-align: center;
    text-decoration: underline;
    font-weight: 700;
}

ul li{
    font-size: x-large;
}

.memberbtn{
    padding: 5px;
    font-weight: 650;
}

.curmem{
    margin-left: 200px;
    margin-top: 1px;
    padding-top: 0px;
    font-size: 12px;
}

.mem{
    margin-top: 0px;
    padding-top: 0px;
    font-size: 10px;
}