 @keyframes lights {
  0% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
  30% { 
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  40% { 
    color: hsl(230, 100%, 95%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }
  
  70% {
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  100% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
}

.mainhead{
  /* position: fixed; */
    text-align: center;
    /* margin-left: 35%;
    margin-bottom: 25px;*/
    margin-top: 0; 
     text-decoration: none;
    font-weight: 700;
    animation: lights 5s 750ms linear infinite;
}

ul li{
    font-size: x-large;
}

.memberbtn{
    padding: 5px;
    font-weight: 650;
    text-decoration: none;
} 

 .curmem{
    /* margin-left: 200px;*/ 
    margin-top: 1px;
    padding-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    font-size: 12px;
}

.mem{
    margin-top: 0px;
    padding-top: 0px;
    font-size: 10px;
    text-align: center;
} 



 .main { 
     position: relative;  
     font-size: 14px;
  line-height: 1.8;
  color: #fff;
  font-weight: 600; 
  /* font-family: 'Poppins'; */
  /* margin: 0px; */
  /* background-image: url("./bodybgregister.png"); */
  /* background-repeat: no-repeat;*/
  width: 100%;
  height:100%;
  padding: 0px; 
  /* backgroun; */
  /* position: relative;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover; */
  /* background-position: center center;  */
 } 
  
#myvideo{
  position: fixed;
    top:0;
    left:0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
  .container1 {
    margin-top: 20px;
    margin-bottom: 70px;
    margin-left: 0px;
    width: 1050px;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
    background-size: 90% 100%; 
    
    /* background-image: url("./container-bg.png"); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover; */
    /* background-position: center center;*/
    z-index: 45;
    overflow: hidden; }

    .signup-content {
        width: 500px; 
        /* margin-top: 45px; */
        margin-right: 0px;
        border-radius: 5%;
    border:1px solid rgba( 255, 255, 255, 0.15 );
        background: rgba( 255, 255, 255, 0.15 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 18px );
        float: right; }
      
      .signup-form {
        margin-left: 0px;
        padding: 24px 20px 6px 55px; }
      
      .form-group {
        margin-bottom: 23px; }
      
      input {
        border: none;
        box-sizing: border-box;
        border-bottom: 1px solid #ebebeb;
        background: transparent;
        width: 100%;
        display: block;
        color: #fff;
        font-weight: bold;
        /* font-family: 'Poppins';*/ 
        font-size: 14px;
        padding: 3px 0; }
        input::-webkit-input-placeholder {
          font-weight: 400;
          color: #fff; }
        input::-moz-placeholder {
          font-weight: 400;
          color: #fff; }
        input:-ms-input-placeholder {
          font-weight: 400;
          color: #fff; }
        input:-moz-placeholder {
          font-weight: 400;
          color: #fff; }
        input:focus {
          font-weight: bold; }
      
      .field-icon {
        float: right;
        margin-right: 0px;
        margin-top: -22px;
        position: relative;
        z-index: 2;
        color: #fff; }
      
      input[type=checkbox]:not(old) {
        width: 2em;
        margin: 0;
        padding: 0;
        font-size: 1em;
        display: none; }
      
      input[type=checkbox]:not(old) + label {
        display: inline-block;
        margin-bottom: 25px; }
      
      input[type=checkbox]:not(old) + label > span {
        display: inline-block;
        width: 13px;
        height: 13px;
        margin-right: 15px;
        margin-bottom: 4px;
        border: 1px solid #fff;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        -o-border-radius: 2px;
        -ms-border-radius: 2px;
        background: transparent;
        vertical-align: bottom; }
      
      input[type=checkbox]:not(old):checked + label > span {
        background: transparent; }
      
      input[type=checkbox]:not(old):checked + label > span:before {
        content: '\f26b';
        display: block;
        color: #fff;
        font-size: 11px;
        line-height: 1.2;
        text-align: center;
        font-family: 'Material-Design-Iconic-Font';
        font-weight: bold; }
      
      .label-agree-term {
        font-size: 13px;
        font-weight: 400;
        color: #fff; }
      
      .term-service {
        color: #fff; }
      
      .form-submit {
        width: auto;
        display: inline-block;
        border: none;
        background: #fff;
        color: #55acc6;
        padding: 10px;
        height: 50px;
        box-shadow: 0px 15px 9.9px 0.1px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 15px 9.9px 0.1px rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 0px 15px 9.9px 0.1px rgba(0, 0, 0, 0.15);
        -o-box-shadow: 0px 15px 9.9px 0.1px rgba(0, 0, 0, 0.15);
        -ms-box-shadow: 0px 15px 9.9px 0.1px rgba(0, 0, 0, 0.15);
        margin-right: 25px; }
        .form-submit:hover {
          background-color: #e6e6e6; }
      
      .submit {
        width: 130px;
        border-radius: 25px;
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        -o-border-radius: 25px;
        -ms-border-radius: 25px;
        text-transform: uppercase;
        font-size: 13px;
        cursor: pointer; }
      
      .submit-link {
        border: 2px solid #fff;
        text-decoration: none;
        display: inline-block;
        vertical-align: middle;
        padding: 12px 0;
        text-align: center;
        color: #fff; }
        .submit-link:hover {
          background: #fff;
          color: #b18757; }
      
      @media screen and (max-width: 992px) {
        .container1 {
          width: calc( 100% - 30px);
          max-width: 100%;
          margin: 0 auto; }
      
        .signup-content {
          width: 100%; } }
      @media screen and (max-width: 480px) {
        .submit {
          width: 100%; }
      
        .form-submit {
          margin-bottom: 20px;
          margin-right: 0px; }
      
        .signup-form {
          padding: 54px 30px 36px 30px; } }
       

