@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:wght@500&family=Lato:wght@700&family=Orbitron&family=Pacifico&family=VT323&family=Work+Sans:wght@200&display=swap');

.Dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 69vh;
    width: 100%;
    justify-content: flex-start;
    /* justify-content: center; */
    /* margin-top: 30px; */
    /* position: absolute; */
}

.Dashboardfullscreen {
    /* height: calc(100vh - 100px); */
    /* background: url("https://images.unsplash.com/photo-1624280433509-b01afeaf68e5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1915&q=80"); */
    background: url("peakpx\ \(3\).jpg");
    background-size: 100vw 100vh;
    background-position: fixed;
    background-blend-mode: lighten;


}

.dashboard-profileBackground {
    background: url("peakpx\ \(3\).jpg");
    background-size: cover;
    background-position: fixed;
    /* top: 0; */
    /* left: 0; */
    /* height: 100vh; */
    /* width: 100vw; */
    /* z-index: -90; */
}

/* .DashboardBox{
} */
.dashboard-content {
    width: 700px;
    height: 350px;
    margin-top: 50px;
    /* border: 2px solid white; */
    border-radius: 20px;
    /* background: rgba(255, 255, 255, 0.25); */
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
    /* backdrop-filter: blur(4px); */
    /* -webkit-backdrop-filter: blur(4px); */
    border-radius: 10px;
    /* border: -4px solid rgba(30, 223, 241, 0.18); */
    position: absolute;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    -webkit-backdrop-filter: blur(8px);  /* Safari 9+ */
backdrop-filter: blur(8px); /* Chrome and Opera */
box-shadow: inset 0 0 0 200px rgba(255,255,255,0.08);
    display: flex;
    flex-direction: column;
    
}

.dashboard-image {
    /* position: absolute; */
    /* right: 0px; */
    /* top: 0px; */
    /* width: 200px; */
    /* height: 200px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dashboard-image img {
    /* border-radius: 50%; */
    border-top-right-radius: 9%;
    border-bottom-left-radius: 9%;
    /* position: absolute; */
    top: 10px;
    right: 10px;
    width: 150px;
    /* transform: scale(0.3); */
}

.dashboard-text {
    /* position: absolute; */
    /* left: 0; */
    /* top: 0; */
    text-align: left;
    height: 100%;
    width: 100%;
    -webkit-backdrop-filter: blur(8px);  /* Safari 9+ */
backdrop-filter: blur(8px); /* Chrome and Opera */
box-shadow: inset 0 0 0 200px rgba(58, 247, 251, 0.08);
}

.dashboard-text h1 {
    margin: 5px 5px;
}

.dashboard-text h1 span {
    color: rgb(0, 225, 255);
}

.dashboard-info {
    position: absolute;
    bottom: 10px;
    font-size: 2rem;
    /* left: 10px; */
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    padding: 5px;
}

.dashboard-info span span {
    color: aquamarine;
}

@media screen and (max-width: 600px) {
    .dashboard-content {
        width: 90vw;
        min-height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .dashboard-text {
        position: static;
    }

    .dashboard-info {
        position: static;
    }

    .dashboard-text h1 {
        text-align: center;
    }

    .dashboard-image {
        /* margin: 0 calc(45vw - 75px); */
        position: static;
        height: 278px;
    }

    .dashboard-image img {
        top: 20px;
    }
}