*{
    border: 0;
    padding: 0;
    margin: 0;
}

.merchandise{
    height: calc("100vh - 100px");
    height: 81.6vh;
}   

.textBuy a{
    text-decoration: none;
    color: white;
    transition: all 1s ease-in-out;
}
.textBuy a:hover{
    color: aquamarine;
}
/* .textbuy a:hover + .image{
    box-shadow: rgba(43, 235, 238, 0.25) 0px 50px 100px -20px, rgba(12, 222, 187, 0.3) 0px 30px 60px -30px, rgba(19, 213, 223, 0.35) 0px -2px 6px 0px inset;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
} */

.textBuy a:hover ~ .imageMerch img{
    transform: scale(1.2);
}

@keyframes lights {
    0% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
    30% { 
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    40% { 
      color: hsl(230, 100%, 95%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }
    
    70% {
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    100% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
  }
.topMerchandise{
    font-size: 30px;
    padding: 5px 10px;
    text-align: center;
    margin-bottom: 5vh;
    animation: lights 5s 750ms linear infinite;
    max-width: 50vw;
    margin: auto;
    margin: 10px auto;
}

.contentMerchandise{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.imageBox{
    height:60vh;
    background-image: url("./Asset\ 2@4x-8.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 5px 5px;
    box-shadow: 2px ;
    /* box-shadow: 120px 80px 40px 20px #0ff; */
}
.topOfImageBox{
    font-size: 20px;
    margin-top: 10px;
    color: #69f8f6;
    font-style: italic;

}
.topOfImageBox span{text-decoration: underline;}
.imageMerch{
    /* width: 292px; */
    /* padding-top: 10%; */
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 500ms ease-in-out;
    /* box-shadow: 120px 80px 40px 20px #0ff; */
}

.textBuy{
    /* background-image: url("./Asset\ 1@4x-8.png"); */
    /* position: absolute; */
    bottom: 46px;
    height: 45px;
    /* left: 7px; */
    text-align: center;
    font-size: 38px !important;
    text-decoration: none;
    cursor: pointer;
    transform: all 1s ease-in-out;
    font-weight: bold;
    margin-bottom: 7px;

}
a:hover{
    color: rgb(219, 241, 255);
}

.text:hover + .image img{
    transform: scale(1.2);
}

/* .image img{ */
    /* height: 100%; */
    /* width: 250px; */
    /* box-shadow: 120px 80px 40px 20px #0ff; */
    /* position: relative; */
    /* top: 30px; */
/* } */

@keyframes pulsate {

    100% {
        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #13eafe,
            0 0 80px #1390fe,
            0 0 90px #13eafe,
            0 0 100px #1390fe,
            0 0 150px #13eafe;
    }
    0% {
        text-shadow:
            0 0 2px #fff,
            0 0 4px #fff,
            0 0 6px #fff,
            0 0 10px #13eafe,
            0 0 45px #1390fe,
            0 0 55px #13eafe,
            0 0 70px #1390fe,
            0 0 80px #13eafe;
    }
}

.neonText {
    color: #fff;
    font-weight: 200;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #13eafe,
        0 0 82px #13eafe,
        0 0 92px #13eafe,
        0 0 102px #13eafe,
        0 0 151px #13eafe;
    font-size: 2.2rem;
    animation: pulsate 1.5s infinite alternate;
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #13eafe,
        0 0 0.8rem #13eafe,
        0 0 2.8rem #13eafe,
        inset 0 0 1.3rem #13eafe;
}
